@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4em;
  background-color: #ddd;
}
h1 {
  text-align: center;
  font-size: 6rem;
  color: rgb(178, 141, 214);
  opacity: 0.8;
}

form {
  margin: 2em;
  width: 500px;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input {
  width: 100%;
  padding: 1em;
  font-size: 1rem;
  font-weight: 600;
  color: #555;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(178, 141, 214);
}

.input::placeholder {
  color: #a1a1a1;
}

.todos {
  background-color: white;
  list-style-type: none;
}

.todos li {
  color: rebeccapurple;
  font-weight: 600;
  padding: 1em;
  border-bottom: 1px solid rgb(178, 141, 214);
}
